# Build
/dist
/lib
/lib-types
/server

# Development
node_modules
.env
*.local
/node_modules
/secret
/test-files
/tmp        
/z
target/
target*/
**/target/
**/target-*/
*.key
*.key.pub
*.jks
*.keystore
key.properties
keystore.properties
*.sqlite
centraldb.sqlite
user_db.sqlite
deployments_debug.json

# Cache
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

#Projects
businesskit-router
businesskit-web
businesskit-cloud

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn
.yarn/*
!.yarn/releases
